/* Custom styling for Aadil's webpage - Aadil Chasmawala 2024 */
.arlo_tm_news_wrap .github_link {
    text-decoration: none;
    color: #eee;
    background-color:  #00ADB5;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    color:white;
}

.arlo_tm_news_wrap .read_more :before {
    position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #222831;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}


/* Owl Carousel */
/* Custom styles for navigation buttons */
.nav-btn {
    width: 30px;
    height: 30px;
    background-color:  #00ADB5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 
 .prev-slide:before, .next-slide:before {
    color: #eee;
    font-size: 20px;
    line-height: 30px;
 }
 
 .prev-slide:before {
    content: "<";
 }
 
 .next-slide:before {
    content: ">";
 }
 
 /* Additional customization if needed */
 .owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
 }
 
 .owl-carousel .owl-nav .owl-prev {
    left: -25px;
 }
 
 .owl-carousel .owl-nav .owl-next {
    right: -25px;
 }
 
/* Custom styles for skills */
.skills_icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-bottom: 60px;
}

.icon-container {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.icon-container i {
    font-size: 4rem;
    color: #555;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon-container:hover i {
    color: #00ADB5;
    transform: scale(1.2);
}

.icon-container::after {
    content: attr(data-name);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #00ADB5;
    font-size: 1rem;
}

.icon-container:hover::after {
    opacity: 1;
}

  
  
/*Animation text 2*/
.arlo_tm_animation_text_word2{
	font-weight: 600;
	line-height: 1;
	font-family: "Montserrat";
}
.arlo_tm_animation_text_word2{color:  #00ADB5;}


/* Override styles for social wrap in footer box */
.social_wrap{
	width: 100%;
	height: auto;
	float: left;
	position: relative;
	left: -5px;
	margin-bottom: 10px;
    align-self: center;
    text-align: center;
    align-items: center;

	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.social_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.social_wrap ul li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.social_wrap ul li:last-child{margin-right: 0px;}
.social_wrap ul li a{
	text-decoration: none;
	color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.social_wrap ul li a:hover{color: #00ADB5;}

/* Submit button styling */
#sendButton {
	text-decoration: none;
    color: #fff;
    background-color: #00ADB5;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border:none;
}
#sendButton::before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #222831;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
#sendButton:hover:before{width: 170%;}
#sendButton span{
	position: relative;
	z-index: 2;
}



